<div ng-if="$ctrl.vis" class="cookie" layout="row" layout-align="center center"
>
  <div class="txt-container" layout="row">
    <div flex>Wir verwenden Cookies, um die Aufrufe unserer Website zu analysieren.<br>	
      Mit der Nutzung unserer Website erklären Sie sich damit einverstanden.</div>
    <div flex="none">
      <md-button ng-click="$ctrl.setCookie()" style="margin-top: -2px;">Zustimmen</md-button>	
      <md-button ng-click="$ctrl.showDatenschutz()" style="margin-top: -2px;">Mehr Informationen</md-button>	
    </div>
  </div>
</div>
