<cookie ng-if="$ctrl.vis"></cookie>
<md-toolbar class="bi-navbar" ng-class="{'loading' : $ctrl.vis && $ctrl.currentState == 'login'}" ng-show="$ctrl.vis">
  <div class="md-toolbar-tools">
    <div class="left biBaseMenu">
      <md-button ng-click="$ctrl.toggleMenu()" class="md-icon-button">
        <md-icon>menu</md-icon>
      </md-button>
    </div>
    <h3 class="bc-title" ui-sref-active="nav-active" ng-click="$ctrl.goMainRoute()" flex="" app-title="">
      CORE
    </h3>
    <div class="right">

      <!-- local icons -->
      <span class="biBaseIcons"></span>

      <md-button class="md-icon-button" ng-click="$ctrl.logout()">
        <md-icon>power_settings_new</md-icon>
      </md-button>
    </div>
  </div>
  <md-progress-linear class="md-primary" ng-disabled="$ctrl.hideLoader" md-mode="indeterminate"></md-progress-linear>

</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="md-sidenav-left" md-whiteframe="4" layout="column">
  <md-toolbar class="bi-navbar">
  </md-toolbar>

  <md-list class="bc-sidenav-header">
    <md-list-item class="bc-user">
      <md-icon class="md-avatar">person</md-icon>
      <div class="md-list-item-text">
        <p class="bc-user-name">{{::$ctrl.profile.realname}}</p>
        <p class="bc-user-mail">{{::$ctrl.profile.email}}</p>
        <span></span>
      </div>
    </md-list-item>
  </md-list>

  <!-- local navigation -->
  <div id="sidebar" class="biBaseSidebar"></div>

  <div class="further-links">
    <md-button ui-sref-active="nav-active" md-no-ink class="nav-button" ui-sref="privacy">
      Datenschutz
    </md-button>
    <md-button ui-sref-active="nav-active" md-no-ink class="nav-button" ui-sref="imprint">
      Impressum
    </md-button>
  </div>
</md-sidenav>
